.wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    lign-content: center;


}

.box {
    /*margin-top: 20px;*/
    display: flex;
    margin-bottom: 20px;
}

.img {
    height: 500px;
}
/*.link {*/
/*    background: url(./images/door1/1.jpg);*/
/*}*/


.radio {
    position: fixed;
    bottom: 40%;
    /*position: relative;*/
    /*text-align: center;*/
    /*top:0px;*/
    /*background-color: red;*/

    /*width: 20%;*/
    /*float: left;*/
}