
.img {
    width: 100%;

}

.wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box {
    margin: 20px 30px;
    transition: 0.4s;
}

.box:hover {
    transition: 0.4s;
    transform: scale(2, 2);
    /*transform: translate(20px, 0)*/
}

