

.img {
    width: 100%;

}

.wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.box {
    margin: 20px 30px;
    width: 100%;
}

.box:hover {
    transition-duration: 1s;
    transform: scale(2, 2);
}

